<?xml version="1.0"?>
<phpunit
  bootstrap="tests/phpunit/bootstrap.php"
  backupGlobals="false"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  cacheResult="false"
  >
  <testsuites>
    <testsuite name="default">
      <directory prefix="test-" suffix=".php">./tests/phpunit/</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <file>./custom-post-type-widgets.php</file>
      <directory suffix=".php">./inc</directory>
    </whitelist>
  </filter>
</phpunit>
