<?xml version="1.0"?>
<phpunit
  bootstrap="tests/phpunit-legacy/bootstrap.php"
  backupGlobals="false"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  cacheResult="false"
>
  <coverage processUncoveredFiles="true">
    <include>
      <file>./custom-post-type-widgets.php</file>
      <directory suffix=".php">./inc</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="default">
      <directory prefix="test-" suffix=".php">./tests/phpunit/</directory>
    </testsuite>
  </testsuites>
</phpunit>
